{% extends "admin/base.html" %}

{% load widget_tweaks %}

{% block header %}{% block title %}Scoring Coefficients{% endblock %}{% endblock %}

{% block admincontent %}
<p class="mx-5 mt-5">
    Each issue is given a score that represents its importance. Through this score, Admins will be able to prioritize issues by modifying values that determine it. Each issue is given a significance level, category, and due date. The issue score contributed is calculated to be the sum of these four factors:
</p>
<dl class="row mx-5">
    <dt class="col-sm-2">Base</dt><dd class="col-sm-10">A base score contribution for the current issue phase</dd>
    <dt class="col-sm-2">Time</dt><dd class="col-sm-10">Product of the number of days past the due date and the “time overdue” coefficient for the current issue phase. The number of days is rounded down to the nearest integer value. If the due date is in the future, this factor produces zero score contribution.</dd>
    <dt class="col-sm-2">Significance</dt><dd class="col-sm-10">Product of the weight value assigned to the significance level and the “significance” coefficient assigned to the current issue phase</dd>
    <dt class="col-sm-2">Category</dt><dd class="col-sm-10">Product of the weight value assigned to the issue category and the “category” coefficient assigned to the current issue phase</dd>
</dl>

<form action="{% url 'admin-scoring-edit' %}" method="POST">
    <table id="users" class="table text-center my-3">
        <thead>
            <tr>
                <th></th>
                <th>Base</th>
                <th>Time</th>
                <th>Significance</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for phase, form in forms %}
                <tr>
                    <th class="align-middle">{{ phase }}</th>
                    <td>{% render_field form.base step="1" %}</td>
                    <td>{% render_field form.time step="1" %}</td>
                    <td>{% render_field form.significance step="1" %}</td>
                    <td>{% render_field form.category step="1" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col text-right">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-check"></i>
                Save Changes
            </button>
        </div>
    </div>
</form>
{% endblock %}
