{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>POTATO | {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'vendor/datatables/datatables.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/potato.css' %}" type="text/css" />
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-dark bg-dark d-print-none">
        <a class="navbar-brand w-25" href="{% url 'index' %}">
            <h1 class="my-0">
                p<img src="{% static 'img/potato.png' %}" width="48" height="48" />tato
            </h1>
            <small class="text-muted">
                Priority Optimized Tool for Action Tracking Online
            </small>
        </a>
        <span class="navbar-brand">
            <h2>
                {% block header %}{% endblock %}
            </h2>
        </span>
        <div class="w-25">
            {% if request.user.is_authenticated %}
                <div class="ml-auto" style="max-width: 200px;">
                    <div class="row mb-2">
                        <div class="col">
                            <div class="progress position-relative" style="height: 1.5rem; background-color: #999;">
                                <div class="progress-bar progress-bar-striped bg-success text-dark"
                                    role="progressbar"
                                    style="width: {% widthratio user_score total_score 100 %}%">
                                </div>
                                <span class="text-light text-nowrap centered-axis-xy"
                                    style="text-shadow: black 0px 0px 5px;">
                                    Your score: {{ user_score }}/{{ total_score }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="btn-group btn-block">
                                <button class="btn btn-outline-secondary btn-sm dropdown-toggle btn-block"
                                    type="button"
                                    data-toggle="dropdown">
                                    <span class="text-light">
                                        {% if request.user.is_superuser %}
                                            <i class="fas fa-user-lock"></i>
                                        {% elif request.user.is_staff %}
                                            <i class="fas fa-user-cog"></i>
                                        {% else %}
                                            <i class="fas fa-user"></i>
                                        {% endif %}
                                        {{ request.user.username|truncatechars:"20" }}
                                    </span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    {% if request.user.is_staff and not request.user.is_superuser %}
                                        <a class="dropdown-item" href="{% url 'admin-users' %}">
                                            <i class="fas fa-cog"></i>
                                            Administration
                                        </a>
                                        <div class="dropdown-divider"></div>
                                    {% endif %}
                                    <a class="dropdown-item" href="{% url 'logout' %}">
                                        <i class="fas fa-sign-out-alt"></i>
                                        Log out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
    <div class="container p-3">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                {% else %}
                    <div class="alert alert-dismissible"></div>
                {% endif %}
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message|linebreaksbr }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/popper.js/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/datatables/datatables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery-validation/jquery.validate.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery-validation/additional-methods.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/potato.js' %}" type="text/javascript"></script>
    {% block foot %}{% endblock %}
</body>
</html>
