{{ user }},<br />
<br />
The changes to issue #{{ issue.pk }} ({{ issue.title }}) were <b>{% if accepted %}accepted{% else %}rejected{% endif %}</b>, and the issue has been assigned to you. The <b>{{ issue.get__phase_display }}</b> is due on <b>{{ issue.due_date }}</b>.<br />
<br />
This email was generated automatically - please do not reply.
