{% extends "base.html" %}

{% block header %}{% block title %}{% if closed %}Closed{% else %}Open{% endif %} Issues{% endblock %}{% endblock %}

{% block content %}
<div id="filter-box" class="card mb-3 p-3">
    <div class="row">
        <div class="col">
            <h6 class="card-title">
                Filter Issues
            </h6>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <small>
                        Significance
                    </small>
                </div>
            </div>
            <select class="form-control" id="filter-significance">
                <option value="">All</option>
                {% for significance in significance_levels %}
                    <option value="{{ significance }}">{{ significance }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <small>
                        Category
                    </small>
                </div>
            </div>
            <select class="form-control" id="filter-category">
                <option value="">All</option>
                {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        {% if not closed %}
            <div class="col input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <small>
                            Username
                        </small>
                    </div>
                </div>
                <select class="form-control" id="filter-user">
                    <option value="">All</option>
                    {% for user in users %}
                        <option value="{{ user }}"
                            {% if not request.user.is_staff and request.user.pk == user.pk %}selected{% endif %}
                        >
                            {{ user }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <small>
                            Phase
                        </small>
                    </div>
                </div>
                <select class="form-control" id="filter-phase">
                    <option value="">All</option>
                    <option value="Draft">Draft</option>
                    <option value="Screening">Screening</option>
                    <option value="Analysis">Analysis</option>
                    <option value="Implementation">Implementation</option>
                    <option value="Verification">Vefification</option>
                </select>
            </div>
        {% endif %}
    </div>
</div><!-- filter box -->
<div class="row mb-3">
    <div class="col">
        {% if closed %}
            <a href="{% url 'issues-open' %}" class="btn btn-secondary">
                <i class="fas fa-book-open"></i>
                View Open Issues
            </a>
        {% else %}
            <a href="{% url 'issues-closed' %}" class="btn btn-secondary">
                <i class="fas fa-book"></i>
                View Closed Issues
            </a>
        {% endif %}
    </div>
    {% if not closed %}
        <div class="col text-right">
            <a href="{% url 'issues-create' %}" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                New Issue
            </a>
        </div>
    {% endif %}
</div>
<table id="issues" class="table table-striped table-hover">
    <thead>
        <tr>
            <th style="width: 10%">Issue</th>
            <th style="width: 40%">Title</th>
            <th style="width: 10%">Significance</th>
            <th style="width: 10%">Category</th>
            {% if not closed %}
            <th style="width: 10%">Username</th>
            <th style="width: 10%">Phase</th>
            <th style="width: 10%">Score</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %}
            <tr data-href="{% url 'issues-edit' issue.pk %}">
                <td>{{ issue.pk }}</td>
                <td>{{ issue.title }}</td>
                <td>{{ issue.significance }}</td>
                <td>{{ issue.category }}</td>
                {% if not closed %}
                <td>{{ issue.assigned_to }}</td>
                <td>{{ issue.get__phase_display }}</td>
                <td>{{ issue.score }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
