{% extends "base.html" %}

{% block content %}
<div class="card p-3">
    {% if not request.user.is_superuser %}
        <div class="btn-group mx-auto">
            <a href="{% url 'admin-significance' %}" class="btn btn-secondary">
                Significance
            </a>
            <a href="{% url 'admin-categories' %}" class="btn btn-secondary">
                Categories
            </a>
            <a href="{% url 'admin-users' %}" class="btn btn-secondary">
                Accounts
            </a>
            <a href="{% url 'admin-scoring' %}" class="btn btn-secondary">
                Scoring
            </a>
        </div>
    {% else %}
        <div class="alert alert-info">
            <i class="fas fa-info-circle mr-2"></i>
            This is the only page the superuser can see.
            Create an Administrator account to continue.
        </div>
    {% endif %}
    {% block admincontent %}{% endblock %}
</div>
{% endblock %}
