{% load widget_tweaks %}

<div class="modal-dialog" role="document">
    <div class="modal-content">
    {% if form.instance.pk %}
        <form action="{% url 'admin-users-edit' form.instance.pk %}" method="POST">
    {% else %}
        <form action="{% url 'admin-users-create' %}" method="POST">
    {% endif %}
            <div class="modal-header">
                <h5 class="modal-title">
                    {% if form.instance.pk %}
                        Modify User
                        {% url 'admin-users-check' form.instance.pk as check_url %}
                    {% else %}
                        Create New User
                        {% url 'admin-users-check' 0 as check_url %}
                    {% endif %}
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {% render_field form.username pattern="^[\w.@+-]+$" placeholder="Username" data-rule-remote=check_url %}
                </div>
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {% render_field form.email placeholder="Email Address" data-rule-remote=check_url %}
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox"">
                        {% render_field form.is_staff class="custom-control-input" %}
                        <label class="custom-control-label" for="{{ form.is_staff.id_for_label }}">Administrator</label>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.password1.label_tag }}
                    {% render_field form.password1 class+="mb-2" placeholder="Password" %}
                    {% if form.instance.pk %}
                        {% render_field form.password2 equalTo="#id_edit-password1" placeholder="Confirm Password" data-rule-remote=check_url %}
                    {% else %}
                        {% render_field form.password2 equalTo="#id_add-password1" placeholder="Confirm Password" data-rule-remote=check_url %}
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                {% csrf_token %}
                {% if form.instance.pk %}
                    {% if cant_delete %}
                        <span data-toggle="tooltip" title="{{ cant_delete }}">
                            <button class="btn btn-danger" style="pointer-events: none;" disabled>
                                <i class="fas fa-trash-alt"></i>
                                Delete
                            </button>
                        </span>
                    {% else %}
                        <a href="{% url 'admin-users-delete' form.instance.pk %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?')">
                            <i class="fas fa-trash-alt"></i>
                            Delete
                        </a>
                    {% endif %}
                    {% if form.instance.is_superuser and form.instance != request.user %}
                        <span data-toggle="tooltip" data-html="true" title="This account can only be modified by <b>{{ form.instance }}</b>">
                            <button class="btn btn-primary" style="pointer-events: none;" disabled>
                                <i class="fas fa-check"></i>
                                Save
                            </button>
                        </span>
                    {% else %}
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-check"></i>
                            Save
                        </button>
                    {% endif %}
                {% else %}
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-check"></i>
                        Create User
                    </button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
