{% extends "admin/base.html" %}

{% block header %}{% block title %}Accounts{% endblock %}{% endblock %}

{% block admincontent %}
<div class="row text-right">
    <div class="col">
        <button class="btn btn-primary" data-toggle="modal" data-target="#add-dialog">
            <i class="fa fa-plus"></i>
            New Account
        </button>
    </div>
</div>
<table class="table table-striped table-hover text-center my-3">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Administrator</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr data-href="{% url 'admin-users-edit' user.pk %}"
                data-toggle="modal-load"
                data-target="#edit-dialog"
            >
                <td>
                    {{ user.username|truncatechars:"50" }}
                </td>
                <td>
                    {% if user.is_superuser %}
                        <span class="text-muted font-italic">superuser account</span>
                    {% else %}
                        {{ user.email }}
                    {% endif %}
                </td>
                <td>
                    {% if user.is_superuser or user.is_staff %}
                        <i class="fa fa-check text-success"></i>
                    {% else %}
                        <i class="fa fa-times text-danger"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="add-dialog" tabindex="-1" role="dialog">
    {% include "admin/users/edit.html" %}
</div>
<div class="modal fade" id="edit-dialog" tabindex="-1" role="dialog"></div>

{% endblock %}
