.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

#issues tbody tr[data-href] {
    cursor: pointer;
}

div.timeline i {
    font-size: 1.5em;
}

div.timeline i.icon-bg {
    color: white;
    font-size: 1.4em;
}

textarea {
    min-height: 4rem;
}

label.is-invalid {
    font-size: 12px;
    color: #dc3545;
    display: block;
    margin-bottom: 0;
    margin-top: 0.125rem;
}

.fixed-prepend {
    width: 9.5rem;
}

div.card.editing a.comment-edit,
div.card:not(:hover) a.comment-edit,
div.card.editing .comment-text,
div.card:not(.editing) .comment-form
{
    display: none;
}
