{% load widget_tweaks %}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            {% if issue.phase != VERIFICATION %}
                <h5 class="modal-title">Accept Changes</h5>
            {% else %}
                <h5 class="modal-title">Close Issue</h5>
            {% endif %}
            <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {% if issue.phase != VERIFICATION %}
                <p>Select a new assigned user and due date to advance the issue to <strong>{{ issue.next_phase }}</strong></p>
                <div class="form-group">
                    {{ issue_form.accept_user.label_tag }}
                    {% render_field issue_form.accept_user required="true" %}
                </div>
                <div class="form-group">
                    {{ issue_form.accept_date.label_tag }}
                    {% render_field issue_form.accept_date placeholder="Due Date" required="true" %}
                </div>
            {% else %}
                <p>Once the issue is <strong>Closed</strong>, it can no longer be modified until reopened by an administrator.  Do you wish to continue?</p>
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" name="action" value="accept">
                <i class="fas fa-redo"></i>
                Submit
            </button>
        </div>
    </div>
</div>
