<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete Issue</h5>
            <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>This will permanently delete the issue from the system. This cannot be undone! Do you wish to continue?</p>
        </div>
        <div class="modal-footer">
            <form action="{% url 'issues-delete' issue.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i>
                    Confirm
                </button>
            </form>
        </div>
    </div>
</div>
