{% extends "base.html" %}

{% load humanize %}
{% load widget_tweaks %}

{% block header %}{% block title %}
    {% if issue.pk %}
        {% if can_edit and issue.phase != CLOSED %}
            Editing Issue #{{ issue.pk }}
        {% else %}
            Viewing Issue #{{ issue.pk }}
        {% endif %}
    {% else %}
        Create New Issue
    {% endif %}
{% endblock %}{% endblock %}

{% block content %}
<div class="card my-3 p-3">
    <div class="timeline text-center">
        <div class="row">
            {% for phase, _, _ in issue.recent_history %}
                <div class="col small">{{ phase.name }}</div>
            {% endfor %}
        </div>
        <div class="row position-relative">
            <div class="centered-axis-xy" style="background-color: #999; width:83.3333%; height:3px;"></div>
            {% for phase, history_item, message in issue.recent_history %}
                <div class="col">
                    <span class="fa-stack" data-toggle="tooltip" title="{{ message }}">
                        <i class="fa fa-circle fa-stack-1x icon-bg"></i>
                        {% if issue.phase == CLOSED and phase == CLOSED %}
                            <i class="fas fa-check-circle fa-stack-1x text-success"></i>
                        {% elif issue.phase > phase %}
                            <i class="fas fa-check-circle fa-stack-1x text-success"></i>
                        {% elif issue.phase == phase %}
                            <i class="fas fa-dot-circle fa-stack-1x text-warning"></i>
                        {% elif issue.phase < phase and history_item %}
                            <i class="fas fa-times-circle fa-stack-1x text-danger"></i>
                        {% else %}
                            <i class="far fa-circle fa-stack-1x"></i>
                        {% endif %}
                    </span>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for phase, history_item, _ in issue.recent_history %}
                <div class="col small">
                    {% if issue.phase == phase and phase != CLOSED %}
                        <span class="d-block font-weight-bold">Score: {{ issue.score }}</span>
                    {% elif history_item %}
                        <span class="d-block">{{ history_item.created_at|date:"m/d/Y" }}</span>
                        <span class="d-block">{{ history_item.created_by|truncatechars:"20" }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div><!-- timeline -->
    <hr />
    <div class="row">
        <div class="col">
        {% if issue.pk %}
            <form id="issue-form" action="{% url 'issues-edit' issue.pk %}" method="POST">
        {% else %}
            <div class="alert alert-info">
                <i class="fas fa-info-circle"></i>
                All fields are required to continue
            </div>
            <form id="issue-form" action="{% url 'issues-create' %}" method="POST">
        {% endif %}
                {% csrf_token %}
                {% if issue.phase != CLOSED %}
                    <div class="row mb-3">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <small>
                                            Assigned
                                        </small>
                                    </div>
                                </div>
                                {{ issue_form.assigned_to }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <small>
                                            Due
                                        </small>
                                    </div>
                                </div>
                                {{ issue_form.due_date }}
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row mb-3">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <small>
                                        Title
                                    </small>
                                </div>
                            </div>
                            {{ issue_form.title }}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <small>
                                        Significance
                                    </small>
                                </div>
                            </div>
                            {{ issue_form.significance }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <small>
                                        Category
                                    </small>
                                </div>
                            </div>
                            {{ issue_form.category }}
                        </div>
                    </div>
                </div>
                {% if issue.pk %}
                    <div class="row mb-3">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend fixed-prepend">
                                    <div class="input-group-text w-100">
                                        <small>
                                            Description
                                        </small>
                                    </div>
                                </div>
                                {{ issue_form.description }}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend fixed-prepend">
                                    <div class="input-group-text w-100">
                                        <small>
                                            Draft Notes
                                        </small>
                                    </div>
                                </div>
                                {{ issue_form.draft_notes }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if issue.phase >= SCREENING %}
                    <div class="row mb-3">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend fixed-prepend">
                                    <div class="input-group-text w-100">
                                        <small>
                                            Screening Notes
                                        </small>
                                    </div>
                                </div>
                                {{ issue_form.screening_notes }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if issue.phase >= ANALYSIS %}
                    <div class="row mb-3">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend fixed-prepend">
                                    <div class="input-group-text w-100">
                                        <small>
                                            Analysis Notes
                                        </small>
                                    </div>
                                </div>
                                {{ issue_form.analysis_notes }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if issue.phase >= IMPLEMENTATION %}
                    <div class="row mb-3">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend fixed-prepend">
                                    <div class="input-group-text w-100">
                                        <small>
                                            Implementation Notes
                                        </small>
                                    </div>
                                </div>
                                {{ issue_form.implementation_notes }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if issue.phase >= VERIFICATION %}
                    <div class="row mb-3">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend fixed-prepend">
                                    <div class="input-group-text w-100">
                                        <small>
                                            Verification Notes
                                        </small>
                                    </div>
                                </div>
                                {{ issue_form.verification_notes }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <hr/>
                <div class="row"><!-- buttons -->
                    <div class="col">
                        <span data-toggle="tooltip" title="Discard changes and return to Open Issues">
                            <a href="{% url 'issues-open' %}" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i>
                                Cancel
                            </a>
                        </span>
                    </div>
                    <div class="col text-right">
                        {% if not issue.pk %}
                            <button class="btn btn-success" type="submit">
                                <i class="fas fa-check"></i>
                                Create Issue
                            </button>
                        {% elif can_edit %}
                            {% if issue.phase != DRAFT and issue.phase != CLOSED %}
                                <span data-toggle="tooltip" title="Reject the changes, returning the issue to {{ issue.prev_phase }}">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#reject-dialog">
                                        <i class="fas fa-times"></i>
                                        Reject
                                    </button>
                                </span>
                            {% endif %}

                            {% if issue.phase == CLOSED and request.user.is_staff %}
                                <span data-toggle="tooltip" title="Permanently delete the issue from the system">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-dialog">
                                        <i class="fas fa-trash-alt"></i>
                                        Delete
                                    </button>
                                </span>
                                <span data-toggle="tooltip" title="Reject the changes, returning the issue to {{ issue.prev_phase }}">
                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#reject-dialog">
                                        <i class="fas fa-book-open"></i>
                                        Reopen
                                    </button>
                                </span>
                            {% endif %}

                            {% if issue.phase != CLOSED %}
                                <span data-toggle="tooltip" title="Save the changes without changing the issue phase">
                                    <button type="submit" class="btn btn-primary" name="action" value="save">
                                        <i class="fas fa-save"></i>
                                        Save
                                    </button>
                                </span>
                            {% endif %}

                            {% if issue.phase == VERIFICATION %}
                                <span data-toggle="tooltip" title="Accept the changes and close the issue">
                                    <button type="button" class="btn btn-success accept" data-toggle="modal" data-target="#accept-dialog">
                                        <i class="fas fa-book"></i>
                                        Close
                                    </button>
                                </span>
                            {% elif issue.phase != CLOSED %}
                                <span data-toggle="tooltip" title="Accept the changes, advancing the issue to {{ issue.next_phase }}">
                                    <button type="button" class="btn btn-success accept" data-toggle="modal" data-target="#accept-dialog">
                                        <i class="fas fa-check"></i>
                                        Accept
                                    </button>
                                </span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div><!-- end buttons -->
                <div class="modal fade" id="accept-dialog" tabindex="-1" role="dialog">
                    {% include "issues/edit/accept.html" %}
                </div>
                <div class="modal fade" id="reject-dialog" tabindex="-1" role="dialog">
                    {% include "issues/edit/reject.html" %}
                </div>
            </form>
            <div class="modal fade" id="delete-dialog" tabindex="-1" role="dialog">
                {% if issue.pk %}{% include "issues/edit/delete.html" %}{% endif %}
            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end card -->
{% if issue.pk %}
    <div class="row"><!-- activity -->
        <div class="col-12 col-lg-8 mx-auto">
            <h5>
                Comments &amp; Activity
            </h5>
            {% if issue.phase != CLOSED %}
            <form action="{% url 'issues-comment' issue.pk %}" method="POST">
                {% render_field comment_form.text placeholder="Add Comment" %}
                {% csrf_token %}
                <button class="btn btn-info my-3" type="submit">
                    <i class="fas fa-comment"></i>
                    Add Comment
                </button>
            </form>
            {% endif %}
            {% for item in issue.activity %}
                {% if item.text %}
                    <div class="card p-2 my-3">
                        <div class="row">
                            <div class="col">
                                <small>
                                    <strong>{{ item.created_by }}</strong>
                                    commented
                                    {% if request.user.is_staff %}
                                        <a class="text-muted comment-edit" href="#">edit</a>
                                    {% endif %}
                                </small>
                            </div>
                            <div class="col text-right">
                                <small data-toggle="tooltip" data-placement="top" data-html="true" title="{{ item.tooltip|linebreaksbr }}">
                                    {{ item.created_at|naturaltime }}{% if item.modified_at != item.created_at %}*{% endif %}
                                </small>
                            </div>
                        </div>
                        <form class="comment-form" action="{% url 'issues-comment-edit' issue.pk item.pk %}" method="POST">
                            {% csrf_token %}
                            <textarea class="form-control my-2" name="text" required>{{ item.text }}</textarea>
                            <div class="text-right">
                                <button type="button" class="btn btn-sm btn-secondary comment-edit-cancel">
                                    <i class="fas fa-trash-alt"></i>
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-sm btn-success">
                                    <i class="fas fa-check"></i>
                                    Save
                                </button>
                            </div>
                        </form>
                        <p class="m-0 comment-text">{{ item.text }}</p>
                    </div>
                {% else %}
                    <div class="card p-2 my-3">
                        <div class="row">
                            <div class="col small">
                                <strong>{{ item.created_by }}</strong>
                                {% if item.changed|length == 1 and item.phase is not None and item.prev_phase is None %}
                                    created the issue
                                {% else %}
                                    updated the issue
                                {% endif %}
                            </div>
                            <div class="col small text-right">
                                <span data-toggle="tooltip" data-placement="top" title="{{ item.created_at }}">
                                    {{ item.created_at|naturaltime }}
                                </span>
                            </div>
                        </div>
                        <p class="m-0">
                            {% for field, value in item.changed %}
                                <strong>{{ field }}:</strong> {{ value }}
                                {% if not forloop.last %}<br/>{% endif %}
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div><!-- end activity -->
{% endif %}
{% endblock %}
