{% load widget_tweaks %}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                {% if issue.phase == CLOSED %}
                    Reopen Issue
                {% else %}
                    Reject Changes
                {% endif %}
            </h5>
            <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Select a new assigned user and due date to return the issue to <strong>{{ issue.prev_phase }}</strong></p>
            <div class="form-group">
                {{ issue_form.reject_user.label_tag }}
                {% render_field issue_form.reject_user required="true" %}
            </div>
            <div class="form-group">
                {{ issue_form.reject_date.label_tag }}
                {% render_field issue_form.reject_date placeholder="Due Date" required="true" %}
            </div>
        </div>
        <div class="modal-footer">
            {% if issue.phase == CLOSED %}
                <button type="submit" class="btn btn-warning" name="action" value="reject">
                    <i class="fas fa-undo"></i>
                    Submit
                </button>
            {% else %}
                <button type="submit" class="btn btn-danger" name="action" value="reject">
                    <i class="fas fa-undo"></i>
                    Submit
                </button>
            {% endif %}
        </div>
    </div>
</div>
