{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% load widget_tweaks %}

{% block content %}
<div class="card pt-3 px-3 m-auto" style="width: 36rem;">
    <div class="row">
        <div class="col form-group">
            <h3>Log in</h3>
        </div>
    </div>
    {% if form.errors %}
    <div class="alert alert-danger">
        Invalid username or password. Contact an administrator if you need an account or forgot your password.
    </div>
    {% endif %}
    <form action="" method="POST">
        <div class="row">
            <div class="col form-group">
                {{ form.username.label_tag }}
                {% render_field form.username class="form-control" %}
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                {{ form.password.label_tag }}
                {% render_field form.password class="form-control" %}
            </div>
        </div>
        <div class="row">
            <div class="col form-group text-right">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-sign-in-alt"></i>
                    Log in
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
