{% load widget_tweaks %}

<div class="modal-dialog" role="document">
    <div class="modal-content">
    {% if form.instance.pk %}
        <form action="{% url 'admin-categories-edit' form.instance.pk %}" method="POST">
    {% else %}
        <form action="{% url 'admin-categories-create' %}" method="POST">
    {% endif %}
            <div class="modal-header">
                <h5 class="modal-title">
                    {% if form.instance.pk %}
                        Modify Category
                        {% url 'admin-categories-check' form.instance.pk as check_url %}
                    {% else %}
                        Create New Category
                        {% url 'admin-categories-check' 0 as check_url %}
                    {% endif %}
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{ form.weight.label_tag }}
                    {% render_field form.weight step="1" placeholder="Category Weight" %}
                </div>
                <div class="form-group">
                    {{ form.name.label_tag }}
                    {% render_field form.name placeholder="Category Name" data-rule-remote=check_url %}
                </div>
            </div>
            <div class="modal-footer">
                {% csrf_token %}
                {% if form.instance.pk %}
                    {% if cant_delete %}
                        <span data-toggle="tooltip" title="{{ cant_delete }}">
                            <button class="btn btn-danger" style="pointer-events: none;" disabled>
                                <i class="fas fa-trash-alt"></i>
                                Delete
                            </button>
                        </span>
                    {% else %}
                        <a href="{% url 'admin-categories-delete' form.instance.pk %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this category?')">
                            <i class="fas fa-trash-alt"></i>
                            Delete
                        </a>
                    {% endif %}
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-check"></i>
                        Save
                    </button>
                {% else %}
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-check"></i>
                        Create Category
                    </button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
