{% extends "admin/base.html" %}

{% block header %}{% block title %}Categories{% endblock %}{% endblock %}

{% block admincontent %}
<div class="row text-right">
    <div class="col">
        <button class="btn btn-primary" data-toggle="modal" data-target="#add-dialog">
            <i class="fa fa-plus"></i>
            New Category
        </button>
    </div>
</div>
<table class="table table-striped table-hover text-center my-3">
    <thead>
        <tr>
            <th class="w-25">Weight</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr data-href="{% url 'admin-categories-edit' category.pk %}" data-toggle="modal-load" data-target="#edit-dialog">
                <td>{{ category.weight }}</td>
                <td>{{ category.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="add-dialog" tabindex="-1" role="dialog">
    {% include "admin/categories/edit.html" %}
</div>
<div class="modal fade" id="edit-dialog" tabindex="-1" role="dialog"></div>
{% endblock %}
